[2019-03-12 14:12] Pepooliet opened #1 "Bienvenidos a issues, poned aquí vuestros problemas."

[2019-03-12 21:42] ecoronado96 opened #2 "Definir Objetos"
# Objetos
Buenas a todos, genero esta issue para que vayamos creando un conjunto de objetos y sus variables los cuales vayamos a usar o necesitemos para el desarrollo del juego y así generar el conjunto de estos de una forma relacionada y correcta. Considero que es mejor que participemos todos en por lo menos mencionar cuales tenemos en mente para así no dejar olvidado ninguno.

### Estructura
La

[2019-03-14 11:50] Pepooliet opened #3 "Sistema de colisiones"
### Sistema de colisiones
En esta issue se van a anotar los progresos realizados en el sistema de colisiones.
Doy como válido un sistema que **evite** que el objeto personaje la atraviese, no es necesario un sistema avanzado por ahora.

[2019-03-14 12:26] Pepooliet opened #4 "Bocetos"
### Bocetos de personajes
En esta issue se comentarán los progresos en los personajes.
Para ello hay que desarrollar una serie de bocetos:

- Boceto del personaje principal
- Bocetos de enemigos
---
**Personaje principal:**
Debe cumplir con los siguientes requisitos:
1.  Es una niña de edad comprendida entre los 10-15 años
2. Lleva una prenda u objeto de color rojo

El resto del diseño se deja a t

[2019-03-14 17:20] Pepooliet opened #5 "Investigación"
### INVESTIGACIÓN

Hemos detenido el desarrollo de la historia hasta que hayamos hecho un sondeo al publico objetivo (niñas 12-15 años).
Es decir, me gustaría que cada uno le preguntase a sus conocidas de esa franja de edad para definir algo mejor la historia.
Cuando lo hayáis hecho, click en vuestra casilla, comentaremos los resultados en grupo.

- [x] Enrique
- [ ] Javiér
- [x] Marina
- [ ] Jesú

[2019-03-14 17:24] Pepooliet opened #6 "Modulación de las funciones de la libreria"
### Modulacion de funciones de la libreria
Queremos implementar las funciones de las clases objeto necesarias de forma modular y fácil de entender.

[2019-03-19 13:07] Pepooliet opened #7 "Detección de clicks en elementos"
Este es el primer paso para la interaccion personaje, entorno.

[2019-03-19 13:10] #7 closed, assigned to Javier-DlaP

[2019-03-19 13:57] Pepooliet opened #8 "Generación del mapa por clases"
Issue dedicada a la generación del mapa por clases.

[2019-03-19 14:43] ecoronado96 commented on #8
- **Carga de  mapa y hitbox, de elementos muro, enemigos, npcs y huerto.** - Completado
- **Renderización de elementos en pantalla.** - Completado
- **Actualización de posición de los elementos con hitbox respecto al movimiento.** - Completado

[2019-03-19 14:43] #8 closed, assigned to ecoronado96

[2019-03-21 16:25] Pepooliet opened #9 "Sprite del personaje principal"
Una vez desarrollado el boceto del personaje principal, hay que desarrollar el sprite correspondiente, en formato .PNG y con las siguientes posturas.

- [x] Estático
- [x] Movimiento (4 direcciones principales)
- [ ] Lanzando un hechizo (4 direcciones principales)

Los sprites deben estar de manera que el movimiento de personaje en pantalla sea coherente.

[2019-03-21 16:30] Pepooliet opened #10 "Paquete de texturas"
El juego se ambienta en un bosque (p.e Ronda o Cantabria) en época veraniega.
Se requiere un total de 2 o 3 paquetes de texturas, para que podamos elegir los que mas nos gusten.

[2019-03-22 13:34] ecoronado96 commented on #9
En desarrollo hemos encontrado un ligero problema en el sprite de Ruby, en el movimiento cuya dirección es hacia abajo (1ª fila del sprite) hay uno de los frames (el central) que esta algún pixel por encima de los otros dos, produciendo un pequeño salto.

![image](https://user-images.githubusercontent.com/29814819/54825958-0d70e100-4caf-11e9-806f-681cd00db243.png)

Además encontramos un error pare

[2019-03-22 15:09] Javier-DlaP commented on #9
Para dejar perfecto el sprite del personaje habría que:
-Bajar un pixel la vista de la primera fila, segunda columna
-Mover a la derecha un pixel de las vistas de la cuarta fila, primera columna y de la cuarta fila, segunda columna
-Mover a la derecha tres pixeles a la derecha la vista de la cuarta fila, tercera columna
-Aumentar el tamaño de las vistas de la primera fila, cuarta columna y de la t

[2019-04-11 16:02] Pepooliet opened #11 "Implementación de paquete en tiled"
Hay que ir probando que tal los paquetes de texturas, toca implementarlos en el tiled map.

- La resolución de la casilla es el 64x64 píxeles
- Comprobar que queda bien

[2019-04-11 16:09] Pepooliet opened #12 "Optimización del código"
Hay que hacer del código algo más fácil de manipular y comprender.

[2019-04-11 16:20] Pepooliet opened #13 "Sistema de bocadillos"
Vamos a empezar con el sistema de bocadillos. Para ello haremos que al clickar una celda se despliegue un bocadillo. Este además tiene que cumplir con lo siguiente.

- Tiene que mostrar un texto dentro
- Al pulsar una tecla pasa de una diapositiva a la siguiente.
- (OPCIONAL) Se debe detener el juego

[2019-04-11 16:27] Pepooliet opened #14 "Enemigos"
Añadimos un enemigo al mapa.

- Tiene que contar con un sprite
- Debe detectar las colisiones.

[2019-04-11 16:29] Pepooliet opened #15 "Salto de estados"
Debemos añadir una casilla al mapa que nos permita. Al clickar esa casilla el personaje transiciona a otro estado (otro mapa)

[2019-04-15 15:42] #6 closed, assigned to ecoronado96

[2019-04-15 20:42] ecoronado96 commented on #14
Hola compañeros @Pepooliet @MarinaFer @KinGJV @Javier-DlaP he estado pensando en como hacer que pueda ser mas animado el movimiento de los personajes y hacerlos con una leve IA, que os parecen las siguientes reglas:
1. El enemigo **elegirá de forma aleatoria moverse** en una dirección del eje X y del eje Y [arriba y abajo, y derecha e izquierda] o no moverse.
2. El enemigo **se moverá con el doble

[2019-04-15 20:56] Javier-DlaP commented on #14
Yo había pensado en varios tipos de IA parecidas que se elijan aleatoriamente para el movimiento de los enemigos en plan como el tetris y que según el tipo de IA, tenga algo diferente en el sprite, como el color o alguna marca

[2019-04-15 22:11] MarinaFer commented on #9
Personaje actualizado y he comprobado que se han resuelto los problemas a la hora de moverse.

[2019-04-17 16:37] ecoronado96 commented on #15
He incluido un par de casillas y un nuevo mapa, al pasar por encima de las casillas nos lleva al mapa nuevo.

[2019-04-17 16:37] #15 closed, assigned to ecoronado96

[2019-04-17 21:02] MarinaFer commented on #4
Recordar a @Pepooliet que los diseños son de la base de datos de RPG Maker, seleccionados y editados posteriormente por mi, pero hay que citar en el documento de diseño los derechos de autor.

[2019-04-17 21:02] #4 closed, assigned to MarinaFer

[2019-04-21 10:58] Pepooliet commented on #14
Me parece bastante correcto el comportamiento que has descrito.
Javier, con el tiempo del que disponemos es mejor dedicar el tiempo a otros objetivos.
Cuando dispongamos de una versión completa del juego podremos pensar en ello.

[2019-04-21 11:03] Pepooliet commented on #15
Perfecto! Con esto ya queda menos para tener una versión completa.

[2019-04-21 11:06] Pepooliet commented on #4
Genial! Muchas gracias por recordármelo. Estoy rellenando un documento a parte con las fuentes.

[2019-04-21 11:21] Pepooliet opened #17 "Enemigos (prueba)"
Hay que comprobar el comportamiento de los NPCs del mapa, agro y movimiento.

[2019-04-21 11:35] Pepooliet opened #18 "Mazmorras"
Con la ayuda de la herramienta **DonJon**, hay que crear 3-4 estados de mazmorra diferentes, con los elementos imprescindibles:

- Paredes con colisiones
- Deben poder reconocerse las casillas de cambio de estado (p.ej escaleras), así como las que
   contienen el spawn del enemigo
- Textura de aspecto general(puede ser cualquiera)

Posteriormente se añadirán enemigos y cambio de estado.

[2019-04-21 11:46] Pepooliet opened #19 "Paquete de sonidos"
Hay que investigar en cuanto a los sonidos que podríamos utilizar en el juego, podemos empezar buscando un paquete o dos de sonidos.
Tenemos que contar tanto con música ambiental como sonidos de personajes (enemigos y personaje principal)

[2019-04-21 11:47] #5 closed, assigned to KinGJV, ecoronado96, MarinaFer, Javier-DlaP, Pepooliet

[2019-04-22 15:39] ecoronado96 commented on #14
### Implementado en enemigos
- [x] Sprite enemigo
- [x] Movimiento aleatorio
- [x] Colisiones
- [x] Aggro

[2019-04-22 15:39] #14 closed, assigned to ecoronado96

[2019-04-22 15:46] ecoronado96 commented on #17
Ya están los enemigos listos para las pruebas , recomiendo hacer distintas ejecuciones y saltos entre los dos escenarios implementados.

El commit de referencia para empezar con los test es el que tiene identificador c6ed3b9329ead056216b044a89e25e0edb84ceb6 .

Se ha detectado un pequeño error en uno de los enemigos que toma una velocidad de movimiento alto al inicio de la carga del juego en cierta

[2019-04-22 15:47] ecoronado96 commented on #3
Buena solución <3.

[2019-04-22 15:48] Javier-DlaP commented on #3
EZ

[2019-04-22 15:50] #3 closed, assigned to Javier-DlaP

[2019-04-25 21:54] MarinaFer commented on #10
![Nivel 1](https://user-images.githubusercontent.com/46962469/56770627-c47fe100-67b4-11e9-995e-5a32893ffb4c.png)

El resultado con los paquetes de textura elegidos sería este primer nivel con la casa de la abuela de Ruby y el bosque de fondo.

Si @Pepooliet @ecoronado96 @Javier-DlaP @KinGJV están de acuerdo en dejarlo como está actualmente se daría por completado este nivel.

[2019-04-27 10:41] #12 closed, assigned to Javier-DlaP

[2019-04-27 12:17] Javier-DlaP commented on #13
Acabado.
Al final conseguí que los bocadillos se ajustasen a la resolución de pantalla que uno tengo, el único problema sería que a resoluciones muy grandes como 4k las letras se verían algo pequeñas ya que el tamaño de estas no se ajusta a la resolución, solo se ajusta la posición y proporciones de de los elementos a dibujar.

[2019-04-27 12:17] #13 closed, assigned to Javier-DlaP

[2019-04-27 12:21] Javier-DlaP opened #20 "Sprites plantas"
Para comenzar a trabajar con el funcionamiento del huerto sería necesario tener al menos dos sprites de la planta, uno tras plantar y otro al estar la planta ya crecida.
Te agradecería si lo pudieras hacer pronto para empezar con esto cuanto antes y que el tamaño que uses sea el que utilizarás en todas las demás plantas.

[2019-04-27 12:58] ecoronado96 commented on #20
Creo recordar que en los paquetes de mapa hay alguno de plantas que se podrían utilizar.

[2019-04-27 17:43] MarinaFer commented on #20
Sí, de ese paquete he cogido la imagen. Igualmente he subido ya los sprites con solo la planta en cuestión.

[2019-04-28 10:53] Javier-DlaP commented on #20
Ok, perfecto.
Creo una nueva issue para la interacción con el huerto y me pongo a ello.

[2019-04-28 10:53] #20 closed, assigned to MarinaFer

[2019-04-28 10:56] Javier-DlaP opened #21 "Interacción con el huerto"
Se creará una de las mecánicas principales del juego como es la planta/recogida de las plantas que se usarán para hacer las magias.

[2019-04-28 11:28] Javier-DlaP commented on #2
He pensado que también se podría crear un objeto por cada tipo de planta, para así no tener que estar metiendo la dirección del sprite que referencia a esta planta cada vez que se crea una, sino con que creáramos por ejemplo una planta de fuego, la creación de esta sea totalmente automática.

[2019-04-28 11:31] Pepooliet commented on #2
Me parece correcto. Se puede empezar con 3 plantas distintas, y luego se va expandiendo.

[2019-04-28 11:39] Pepooliet opened #22 "Menú principal"
Abro issue para comenzar la creación del estado de menú principal, en que estarán presentes las opciones de **_Start_** y **_Exit_**, estando implementada la primera. La foto puede ser cualquiera.

[2019-04-28 11:49] Javier-DlaP commented on #22
También podríamos poner una opción de cambiar la resolución de pantalla y si se quiere pantalla completa o no ya que no afectaría a las interfaces que se ajustan, solo sería cambiar un parámetro.

[2019-04-28 15:57] Javier-DlaP commented on #21
Se ha implementado la planta de flores, la recogidas de estas de implementará cuando se cree el inventario.

[2019-04-28 20:05] Pepooliet opened #23 "Arte de las mazmorras"
Abro issue para definir el arte de lo que serán las mazmorras del juego.
La idea sería crear un mapa básico que cuente con todo lo que se va a ver en un nivel de mazmorra cualquiera, haciendo uso de las distintas capas del tiled. Debe contar con lo siguiente.

- Muros
- Escaleras (cambiar de nivel)
- Spawns de enemigos

[2019-04-29 09:05] Pepooliet commented on #22
Hemos tenido muchos problemas con la pantalla, además de que el profesor nos comentó que con tener una resolución que todos pudiesen poner (720p)
Por ahora nos centraremos en otras cosas.

[2019-04-29 09:56] Javier-DlaP commented on #22
Te digo que los problemas que teníamos ya los he solucionado, la implementación que hice de los bocadillos permite que se cambie la resolución de pantalla y se ajuste automaticamente.

[2019-04-29 10:12] ecoronado96 commented on #22
El cambio de resolución afecta al tamaño de los elementos mostrados en pantalla, no siendo igual lo mostrado en unas pantallas que en otras. Si tu implementación para hacer que los bocadillos sean responsive funciona en cualquier situación y me la explicas bien; y siempre que tanto @Pepooliet y el resto del equipo este de acuerdo en el cambio y sus consecuencias por mi no hay problema.

[2019-05-01 18:19] Pepooliet commented on #22
Teniendo las consecuencias que tiene, dejamos ese proyecto para cuando tengamos el juego hecho.
Cuando lo tengamos pensaremos en ello.

[2019-05-01 21:31] ecoronado96 commented on #22
El menú expuesto esta estructurado únicamente para 720p.
Se puede tener acceso a el desde las pantallas del juego pulsando la tecla  `ESC`.
El menú por el momento es capaz de introducirse en el estado juego, así como salir del juego, próximamente se incluirá las opciones de `nueva partida`, `cargar partida` y `guardar partida`, por el momento estos botones realizan acciones ficticias.

[2019-05-01 21:31] #22 closed, assigned to ecoronado96

[2019-05-04 12:50] Pepooliet opened #25 "Sprites para las plantas del huerto"
Necesitamos varios sprites para las plantas que formarán el huerto, 5-10 serán suficientes.
Así mismo, 2-3 sprites para semillas y otros 2-3 para los brotes.

[2019-05-04 13:01] Pepooliet opened #26 "Estado de combate"
Implementamos el estado de combate principal, **activado al colisionar** con un enemigo.
Lo que se verá por pantalla es muy parecido a un RPG: **dos sprites**, protagonista y enemigo, y **abajo un menú** de las opciones a tomar (lucha, objeto, huida)

[2019-05-04 13:05] Javier-DlaP commented on #26
Pepe, Enrique está creando el sistema de guardado y yo estoy trabajando con el inventario, el huerto y los diálogos. No creo que podamos ponernos a ello hasta que acabemos cada uno lo nuestro.

[2019-05-04 13:08] Javier-DlaP commented on #25
Con 3 tipos de planta de momento para las magias, y sus respectivos brotes y semillas valdría para empezar.

[2019-05-04 13:10] Pepooliet commented on #26
Claro, estoy poniendo la issue para trazar como debemos ir cumpliendo con los objetivos.
Hacedla cuando veáis que podéis.

[2019-05-04 13:19] Pepooliet opened #27 "Sistema de guardado"
Issue dedicada para el sistema de guardado.

[2019-05-04 15:20] ecoronado96 commented on #26
Voy a empezar con este estado mientras espero respuesta al email sobre el guardado, vamos a necesitar imágenes cuadradas como la que tenemos de Ruby y su abuela pero para los enemigos.

[2019-05-04 18:12] Pepooliet commented on #26
Ok, abriendo issue

[2019-05-04 18:15] Pepooliet opened #28 "Sprites de combate"
Para el estado de combate necesitamos fotos cuadradas de los distintos enemigos, en el mismo formato que la del personaje principal.

[2019-05-04 18:16] #9 closed, assigned to MarinaFer

[2019-05-04 18:20] ecoronado96 opened #29 "Tenemos que definir posibles diálogos."
# Diálogos
Hay que ir pensando en diálogos para que digan los personajes del juego. Estos diálogos van a ir en relación a un array de la forma `{"Hola","mundo"}` siendo hola la cadena del primer personaje y mundo la del segundo.

Explicar la situación y personajes involucrados en la conversación y si veis que cualquiera de los diálogos se pueden mejorar comentarlo.

#### Ejemplo

Ruby habla con su

[2019-05-04 18:23] ecoronado96 commented on #28
Concreta mente creo que me falta el de la planta. He usado de momento estos dos:

![RubyAvatar](https://user-images.githubusercontent.com/29814819/57183246-4d300880-6eaa-11e9-9305-9ed937d6f716.png)
![Boss](https://user-images.githubusercontent.com/29814819/57183248-4ef9cc00-6eaa-11e9-981b-3623876c2265.png)

Probablemente si queremos que el gato tenga dialogo vendría muy bien otra imagen para el.

[2019-05-04 18:25] Pepooliet commented on #29
Tenemos que definir los personajes con los que hablará.
Mientras tanto puedo ir intentando hacer un dialogo con la abuela.

[2019-05-06 10:20] MarinaFer commented on #25
![Plantas hechizos](https://user-images.githubusercontent.com/46962469/57219704-36e49280-6ff9-11e9-8618-b1b78da0ca37.png)
De momento podemos usar estas, para hechizo de fuego, rayo y agua.

[2019-05-06 10:38] MarinaFer commented on #23
He subido tanto un ejemplo del mapa, con las capas incorporadas, como el paquete de texturas básicas que se utilizarán.

[2019-05-06 10:38] #23 closed, assigned to MarinaFer

[2019-05-06 10:38] #10 closed, assigned to MarinaFer

[2019-05-06 11:30] MarinaFer commented on #28
![Boceto planta](https://user-images.githubusercontent.com/46962469/57222424-cfcbdb80-7002-11e9-8a47-d999c77249fb.png) ![Boceto gato](https://user-images.githubusercontent.com/46962469/57222426-d0fd0880-7002-11e9-8942-4f40509e784a.png)
Acabo de añadir ambos bocetos, si necesitais algún otro reabrid esta issue y me pongo con ello.

[2019-05-06 11:30] #28 closed, assigned to MarinaFer

[2019-05-06 11:34] MarinaFer commented on #29
En principio hablará con la abuela, el boss final y si todos estáis de acuerdo con el gato, que este le puede contestar con un maullido o también hablando.

[2019-05-06 13:32] Javier-DlaP commented on #25
Dos cosas Marina:
La primera, no mandes todas las plantas en una matriz de imágenes, porque habías pasado una planta con dos sprites en la misma fila, si me pones ahora tres por cada planta me haces cambiar bastantes cosas, pero si ademas me lo subes así tengo que cambiar todo el funcionamiento de las plantas, por eso te pediría de subir las plantas en tres png diferentes.
La segunda, ¿por qué la

[2019-05-07 11:51] ecoronado96 commented on #1
Comento un **error que puede darse al ejecutar el juego**. Es un error **referente a Windows y sus notificaciones**. En mi caso aparecía una notificación indicándome que la resolución recomendada para el equipo es 1080p no 720p; las notificaciones de Windows suelen aparecer por encima de los programas que utilizamos con frecuencia en la esquina inferior izquierda, nuestro juego no es distinto, per

[2019-05-07 13:29] ecoronado96 commented on #26
## Combate
He acabado el combate. Queda pendiente de el testeo y correcciones y mejoras sobre lo realizado.

He aplicado las siguientes reglas

#### Ruby
- Acierto: 90% de probabilidad
- Critico: 10% de probabilidad
- Pociones: siempre efectivas
- Huida: 33% de probabilidad. En caso de fallo pierde el turno. En caso de acierto se vuelve al mapa y los enemigos se detienen momentáneamente.
- Daño: 1

[2019-05-07 13:29] #26 closed, assigned to ecoronado96, Javier-DlaP

[2019-05-07 19:59] #2 closed, assigned to KinGJV, ecoronado96, Javier-DlaP

[2019-05-07 20:58] ecoronado96 commented on #27
Ya esta implementado el guardado y cargado de partida en el menú.

Se guardan los atributos de Ruby por el momento.

@Javier-DlaP ¿El huerto tiene algún set y get para coger los valores de este sin incluir clases de Slick? Algo así como lo que hiciste en el caso de las flores:

[code]

[2019-05-07 21:03] Javier-DlaP commented on #27
De momento no hay, pero cuando haga un commit de lo que llevo habrá una función que permite obtener una matriz de plantas

[2019-05-07 21:05] ecoronado96 commented on #27
La matriz de plantas no creo que me valga como tal, si esta compuesta por objetos planta entonces tienen su animación y por lo tanto elementos de slick, los cuales no me deja guardar al no ser serializables.

[2019-05-10 15:22] Pepooliet opened #30 "Fase granja a pocos fps"
Issue dedicada al testeo y resolución de la caída de fps en el mapa de la granja

[2019-05-10 16:57] KinGJV commented on #30
He solucionado el problema usando como plantilla el .tmx de demo_map. Lo que he hecho ha sido recrear el .tmx de inicio con las dimensiones del de demo_map y funciona a unos 60 fps estables, también contiene las funcionalidades de inventario, diálogo y plantar/recoger que poseía el mapa original. Cuando podáis echadle un ojo y me comentáis si afecta en algo con el trabajo del equipo de programació

[2019-05-10 20:43] ecoronado96 commented on #30
¿Podrías subirlo?, si crees que puede afectar al código genera una branch. Si solo son cambios en el mapa pero dicho mapa contiene las capas con los nombres mencionados no debería de dar ningún problema.

[2019-05-11 20:01] Pepooliet commented on #29
### Ruby-Abuela: "¿Que haces?" Interacción Nº1
**Ruby**: "¿Que haces abuela?"
**Abuela**:"Descansar un poco hijita mia"
**Ruby**: "Oh bueno.."
**Abuela**: "Riega las plantas! **_[Posible tutorial aquí]_**"

[2019-05-11 20:05] Pepooliet commented on #29
### Ruby-Abuela: "Semillas" Interacción Nº2
**Ruby**: "¿Oye abu, me darías semillas? Me he quedado sin"
**Abuela**: "¡Como no, si las vas lanzando por ahí!"
**Ruby**: "Prometo que esta vez no... todas"
**Abuela**: "Ay.. venga toma, pero haz el favor y planta alguna" **_[Posible tutorial aquí]_**

[2019-05-11 20:30] Pepooliet commented on #29
### Ruby-Abuela: "Buenos días Nº1" [Dialogo inicio de día numero 1]
**Ruby**: "¡Buenos días abuela!"
**Abuela**: "¡Buenos días hijita mia! ¿Has dormido bien?"
**Ruby**: "*(Bostezo)*...Siii"
**Abuela**: "¿Me ayudas hoy con el jardín?"
**Ruby**: "Si me haces tortitas puede que si"
**Abuela**: "¿Pretendiendo que tu abuela compre tu amor? ¡Vergüenza debería darte! Vete a jugar, pero no te acerques al

[2019-05-11 20:36] Pepooliet commented on #29
### Ruby-Abuela: "Buenos días Nº2" [Dialogo inicio de día genérico]
**Abuela**: "Buenos días Ruby"
**Ruby**: "Buenos días..."
**Abuela**: "..¿Que tal la busqueda de **_[Insertar nombre de gato aquí. Sugerencia: Cachirulo]_**, pudiste encontrarlo ayer?"
**Ruby**: Que va abuela, es un ninja
**Abuela**: "¡Ninja? ¿Que es eso?"
**Ruby**: ¡Un guerrero de las sombras! **_[Desaparece]_**
**Abuela**: "Ay q

[2019-05-11 20:39] Pepooliet commented on #29
Mañana me pongo con el del resto de personajes, las partes **_[Evidenciadas así]_** son notas para los programadores, sin embargo leedlo todos y decidme que opináis respecto a que sirvan de tutoriales etc

[2019-05-11 21:04] ecoronado96 commented on #29
Me gusta este dialogo bastante para el caso de que Ruby tenga todos sus elementos del inventario a 0 y no pueda comprar nada; incluso algo muy parecido, para el caso como dices de darle por primera vez semillas a Ruby estaría muy bien, e introducir a continuación un mini tutorial.

[2019-05-13 12:22] Pepooliet opened #31 "Reescalado del mapa"
Issue dedicada a ajustar el tamaño del mapa al tamaño de Ruby, tanto en la granja como en las mazmorras. También se pide adjuntar como se ha resuelto la issue.

[2019-05-13 13:47] KinGJV commented on #31
he aumentado el tamaño de la granja doblando el tamaño del PNG donde se encuentran las texturas para así hacerlo a doble de tamaño. En este mapa existe una bajada de fps que, aunque, es notable, no hace que el mapa sea imposible de jugar

[2019-05-13 13:51] KinGJV commented on #30
está subido en resources como casa_fps_altos no he tenido que tocar nada de la programación salvo la ruta para apuntar al tmx. Posee menos capas que el original pero en principio cumple todas las funciones que debería ya que las capas que faltan son visuales.

[2019-05-13 15:01] Javier-DlaP commented on #31
Al hacer commit tienes que subir el archivo con el formato que fijó Enrique ya que sino el mapa no funciona en el juego, además al ejecutarlo no se está cargando el nuevo mapa ya que tiene otro nombre y aunque lo hagas cargar da error.

[2019-05-13 15:40] KinGJV commented on #31
ya están subidos los archivos correctamente comprueba por favor si funcionan ahora

[2019-05-13 15:46] Javier-DlaP commented on #31
Sigue sin ir, además tu puedes ver en tu ordenador como sigue ejecutando el mapa que teníamos antes.

[2019-05-13 16:57] KinGJV commented on #31
Creada branch nueva llamada cambios_mapas para el testing de los próximos mapas sin necesidad de usar la master. Comprobad que se carga el mapa al doble de resolución que he creado sin errores. Gracias

[2019-05-13 17:39] ecoronado96 commented on #31
Acabo de probar, muy por encima; el rescalado en el branch se aplica correctamente pero no veo ninguna mejoría en los fps.

![image](https://user-images.githubusercontent.com/29814819/57641612-b522d500-75b5-11e9-85f9-5536ad812975.png)

Parece no afectar a las mecánicas, menos a una en concreto, el plantar, plantar esta definido como una acción en que la planta ocupa una casilla del mapa, no 4 como

[2019-05-13 17:45] Pepooliet commented on #31
Sigue yendo a 13 fps? No alcanza los 20?

[2019-05-13 17:47] ecoronado96 commented on #31
me iba a 20 en el ordenador de mesa y sigue yendo a 20, en el portátil espero un pelin menos entre 16-20 que es lo mismo que tenia antes.

[2019-05-13 17:48] KinGJV commented on #31
hay 1 mapa que está escalado como antes pero con los fps sobre 38-40 si quereis modifico el código para que lo cargue el problema es que ruby se verá enorme a comparación con los mapas de mazmorras que si llevan el escalado

[2019-05-14 12:20] Pepooliet commented on #29
### Ruby-Gato: "No te vayas" Interacción al entrar en el bosque
**_[Ruby entra en el bosque]_**
**Ruby**: "¿Eh _(Cachirulo)_, a donde vas?
**Gato**: "(Oh no, la chiquilla esta)"
**_[Aparece un enemigo]_**
**Gato**: "(Encima esto, yo me voy por patas..)"
**_[Gato desaparece]_**
**Ruby**: "¡_(Cachirulo)_, no!"
**Ruby** (al enemigo): "Te vas a enterar!"
**_[Empieza el combate (¿Tutorial?)]_**
------*

[2019-05-14 12:27] Pepooliet commented on #29
### Ruby-Gato: "Te encontré" Interacción al final de la mazmorra
**_[Después de batalla con el boss final]_**
**Ruby**: "¡Por fin te encuentro, _(Cachirulo)_!"
**Gato**: "(Anda, tu por aqui)"
**Ruby**: "A saber que estabas haciendo en esta mazmorra"
**Gato**: "(Cosas de gatos, obviamente)"
**Ruby**:"Venga, vamos a casa con la abuela"
**Gato**: "(¡Buena idea, ya debe ser hora de la cena!)"
**_[Se v

[2019-05-14 12:28] Pepooliet commented on #29
Las parentesis en el dialogo del gato implican que el gato no habla: es lo que piensa y dice, pero no lo que Ruby entiende.

[2019-05-14 12:42] Pepooliet commented on #29
### Ruby-Boss Final "True final, 100% completed game" Conversación previa a la batalla con el jefe (opcional)
**Boss**: "¡Ah, finalmente un oponente! Soy el guardian de..."
**Ruby (le interrumpe)**: "¿Donde está _(Cachirulo)_?"
**Boss**: ¿_(Ca...Cachirulo)_? Que clase de conocimiento prohibido es ese, yo no he...
**Ruby (le interrumpe)**: "¡Donde...lo....TIENES!"
**Boss**: "(Pero de que va esta ch

[2019-05-14 12:45] Pepooliet commented on #29
Esos serían todos los diálogos, cualquier cosa me decís y lo cambio.
Si no estáis de acuerdo con los eventos que les siguen lo podemos discutir.

[2019-05-14 15:25] Javier-DlaP commented on #31
Se podría probar si es cosa del pack de texturas cambiando alguna imagen de menor resolución por otra y si es así cambiamos las demás, y por otra parte habría que eliminar las imágenes de las flores del huerto.

[2019-05-14 17:34] Pepooliet opened #32 "Escenarios entre mazmorras"
Issue dedicada a hacer escenarios para las fases de **_tutorial de combate_** y **_final de juego_**
Serían dos salas rectangulares por las que se entra por un lado.
**Jesus** se encarga de la sala de la sala del **final del juego** (mazmorra de piedra)
**Marina** de la sala del **tutorial** (bosque)

[2019-05-14 20:10] ecoronado96 commented on #32
Vamos a ver, para aclararlo de la mejor forma posible. **Javi y yo acabamos de programar el jueves, como MUY tarde alargamos al viernes y muy a las malas.** Con esto **garantizamos** poder hacer **nuestra parte de la documentación** de forma correcta **para el sábado o domingo** como tarde y dejarlo acabado.

**No vamos a añadir nuevas pantallas de ultima hora**, tanto la pantalla de tutorial como

[2019-05-14 20:12] KinGJV commented on #32
Mañana por la mañana estan las mazmorras subidas en la branch que creé de
testeo de mapas

El El mar, 14 may 2019 a las 22:10, Enrique Coronado <
notifications@github.com> escribió:

[2019-05-14 20:34] #21 closed, assigned to Javier-DlaP

[2019-05-15 06:34] KinGJV commented on #32
he añadido los mapas de 3 mazmorras mas la del boss y un mapa de la granja con el escalado antiguo pero que funciona a 30+ fps estables. Tengo que investigar por qué ese mapa funciona con esos fps ya que está creado de la misma forma que el dimensionado a X2

[2019-05-15 09:33] ecoronado96 commented on #25
Necesitamos los sprites de las plantas ya para poder hacer los iconos y las animaciones del huerto, asi como de comercio y combate. Recuerdo que han de ser como la primera versión que se subio de estas 1*2 en cuanto a las imagenes y de tamaño 32x32 px.

Necesitamos también imágenes, NO sprites, para los iconos de las pociones de vida y daño.

[2019-05-15 09:46] Javier-DlaP commented on #27
Bug: Al cargar la partida tras guardarla teniendo previamente 0 objetos de un tipo, aparece x0 en el inventario, cuando en vez de poner x0 debería desaparecer ese objeto del inventario.

[2019-05-15 10:11] Javier-DlaP opened #33 "Paleta de colores de las interfaces"
En la carpeta del proyecto de ruby se encuentran los diseños de las interfaces del combate y del menu de comercio.
Necesitamos los colores finales en formato rgb, en las interfaces de plantar, comercio, inventario y diálogos diría de usar colores marrones y verdes o verdes claros y oscuros. En el combate dan rienda suelta a vuestra imaginación.

[2019-05-15 11:04] ecoronado96 commented on #27
Queda solucionado.

[2019-05-15 12:07] Pepooliet commented on #32
Ok, entendido.
No pude leerlo ayer.
Entonces se hará de acuerdo a lo que dices.

[2019-05-15 12:07] #32 closed, assigned to KinGJV, MarinaFer

[2019-05-15 14:47] MarinaFer commented on #25
Listo.

[2019-05-15 15:04] Javier-DlaP commented on #25
Las plantas dije que las necesitábamos en un formado de dos imágenes de las plantas por archivo, no todas en uno, adjunto un ejemplo (que es lo que pasaste en un principio).
Y además faltan los iconos de las semillas de cada tipo.
![Planta_fuego](https://user-images.githubusercontent.com/47185380/57786899-a31b7080-7734-11e9-9171-088f6460c6a8.png)

[2019-05-15 15:31] MarinaFer commented on #25
Corregido, serían los archivos:
- Sprites Plantas (para las de fuego)
- Sprites Plantas Agua
- Sprites Plantas Rayo

Y sobre las semillas creo que sería mejor plantar los brotes y que de ahí saliesen ya las plantas, porque sino las semillas serían muy pequeñas y no se distinguirían unas de otras

[2019-05-15 19:37] Pepooliet opened #34 "Memoria y documento de desarrollo"
Abro esta issue para notificaros de que estoy trabajando en la memoria y en el documento de diseño del videojuego.

Para ello me gustaría que los distintos miembros me entreguéis lo siguiente:

- **Herramientas empleadas**: enumeración con descripción breve de las herramientas utilizadas para hacer vuestro trabajo. **Programadores**, **diseñadora** y **tester**.

- **Problemas encontrados**: tanto

[2019-05-15 19:58] Pepooliet commented on #34
En cuanto al documento de diseño, voy a emplear el que íbamos a presentar para el 21 de marzo con las modificaciones necesarias.

[2019-05-16 10:45] ecoronado96 commented on #19
Para implementar los sonidos en el juego necesito que sean de cierto formato especifico para que los acepte slick. Según enuncia la documentación de slick:

Para los objetos Music es idéntico a los Sound.
Os dejo el ejemplo de la inicialización de sonidos que aporta Slik2d para que veáis mas en detalla los formatos posibles:
[code]

Avisadme en cuanto resolváis los sonidos.

[2019-05-16 11:25] MarinaFer commented on #19
Acabo de subir los archivos de "Mazmorra" y "Ambiente bosque" en formato .ogg. El otro archivo no pega con el ambiente así que será mejor no usarlo.

[2019-05-16 11:29] Javier-DlaP commented on #25
No, son semillas ya están implementadas así.

[2019-05-16 12:20] MarinaFer commented on #25
Listo.

[2019-05-16 12:26] Javier-DlaP commented on #25
**Necesito imágenes, no sprites**, al igual que los iconos de los objeto que pasaste.

[2019-05-16 12:42] MarinaFer commented on #25
Corregido.

[2019-05-16 14:07] ecoronado96 opened #35 "Bug al comprar plantas de fuego"
Al comprar plantas de fuego estas no aparecen en el inventario.

[2019-05-16 15:40] Javier-DlaP commented on #25
Espero que los sprites del stardew valley no tengan copyright ya que sino el profesor puede poner pegas.

[2019-05-16 15:52] MarinaFer commented on #33
De momento los colores para el comercio, plantar, inventario y diálogos serían:
- RGB del fondo: 254 195 117
- RGB de los marcos: 210 113 18
- RGB de bordes y líneas: 140 57 0

Además de todos los textos en negro para que se vean bien.
![Interfaz](https://user-images.githubusercontent.com/46962469/57868381-2c00dd80-7803-11e9-94ee-dd111eaa5b71.JPG)

[2019-05-16 15:57] MarinaFer commented on #25
De donde están sacados todos lo sprites, iconos y demás está explicado y nombrado a los autores en el documento de diseño.

[2019-05-16 16:46] ecoronado96 commented on #33
Me parece un poco demasiado chillón, los naranjas tan brillantes me gustan para resaltar elementos, pero no como color principal de una interfaz.

[2019-05-16 17:59] Pepooliet commented on #34
El correo al que debeis enviarlas es:
pepooliet@gmail.com

[2019-05-16 18:52] MarinaFer commented on #33
Os recuerdo que es un RPG dedicado a niñas de aprox. 15 años, por lo tanto pienso que tanto el diseño del juego como las interfaces deberían ser llamativas y el color que he elegido tampoco me parece chillón. No sé que opinan @KinGJV y @Pepooliet .

En todo caso si preferís cambiarlo y ya sabeis que colores utilizar esta issue estaría completa.

[2019-05-16 19:44] ecoronado96 commented on #33
Ya lo hemos implementado.

[2019-05-16 19:44] #33 closed, assigned to KinGJV, MarinaFer, Pepooliet

[2019-05-16 19:49] ecoronado96 commented on #19
Ya, funciona, esta implementado.

[2019-05-16 19:49] #19 closed, assigned to MarinaFer, Pepooliet

[2019-05-16 20:07] Pepooliet commented on #34
He puesto la primera parte del documento de diseño, se encuentra en la wiki del repositorio, quiero puntualizar algunas cosas:

- Las imágenes las iré añadiendo entre hoy y mañana, según se completen el arte de las interfaces.

- He visto algunos ejemplos y me ha parecido apropiado hacer del documento de diseño cercano a un manual de instrucciones de un juego de los de antes, si veis que el tono e

[2019-05-16 20:12] ecoronado96 commented on #34
¿El documento de diseño y la documentación del proyecto no tienen que ser un pdf en la raiz del proyecto?

[2019-05-16 21:07] Pepooliet commented on #34
No he visto en ninguna parte que sea obligatorio, pero si es una buena práctica así será.
De todas formas así podéis comentar cambios que querríais hacer.

[2019-05-16 22:05] Pepooliet commented on #34
He creado la carpeta **Documentación** en la que guardaré ambas cosas, en formato pdf.
El Documento de diseño está casi listo, le quedan algunas imágenes, me gustaría que me dieseis vuestra opinión respecto al tono y contenido.

[2019-05-17 10:25] #35 closed, assigned to Javier-DlaP

[2019-05-17 10:27] Javier-DlaP commented on #25
Sigo sin las plantas para el huerto en el formato indicado.

[2019-05-17 10:27] Javier-DlaP commented on #25
Sigo sin las plantas para el huerto en el formato indicado.

[2019-05-17 11:50] #27 closed, assigned to ecoronado96

[2019-05-17 11:54] #25 closed, assigned to MarinaFer

[2019-05-17 12:02] ecoronado96 commented on #34
Te importa subir el .docx también? tengo que aportar lo correspondiente al desarrollo código, clases mas importantes, estados y el diagrama de clases.

[2019-05-17 12:04] #18 closed, assigned to KinGJV, MarinaFer

[2019-05-17 12:04] #17 closed, assigned to KinGJV

[2019-05-17 12:04] #31 closed, assigned to KinGJV

[2019-05-17 13:22] Pepooliet commented on #34
Eso irá en la memoria, subo el .docx de la memoria esta tarde.

[2019-05-17 13:58] Pepooliet commented on #34
Ya está subido el documento de diseño.

[2019-05-17 16:44] Pepooliet commented on #34
El documento de diseño está acabado. No me parece que le falte nada en comparación con otros.
Dicho esto, propongo la siguiente estructuración de la memoria

- Introducción
- Equipo de trabajo
- Ficha técnica
- Objetivos del juego
- Estados (distintas pantallas)
- Mecánicas (incluye controles)
- Análisis del código
- Tecnología y herramientas de desarrollo
- Problemas encontrados

[2019-05-17 16:53] #29 closed, assigned to KinGJV, ecoronado96, MarinaFer, Javier-DlaP, Pepooliet

[2019-05-17 18:02] Pepooliet commented on #34
He subido la memoria del juego, faltan muchas cosas por añadir, pero los primeros 7 puntos están completos.
Lo respectivo al código añadidlo **en el punto 9**, no tocaré nada.
Comentadme que os parece.

[2019-05-17 18:26] ecoronado96 commented on #34
## Herramientas empleadas
- **Netbeans** junto con la librería Slick2d para la programación del videojuego realizado.
- **Github** para el control de versiones del proyecto, junto con su aplicación de escritorio **Github Desktop**.
- **Enterprise Architect** para la realización del diagrama de clases de la documentación.
- **Adobe Xd** como medio para definir las interfaces previa implementación d

[2019-05-17 18:51] Javier-DlaP commented on #34
## Herramientas empleadas
- **Netbeans** junto con la librería Slick2d para la programación del videojuego realizado.
- **Github** para el control de versiones del proyecto, junto con su aplicación de escritorio **Github Desktop**.
- **Adobe Xd** como medio para definir las interfaces previa implementación de las mismas.
- **Paint 3D** para arreglar los fallos de los sprites que me daba la diseñad

[2019-05-17 22:31] Pepooliet commented on #34
He acabado en principio los 10 primeros puntos de la memoria.

**Enrique**, me gustaría que vieses los apartados que pasaste mediante el .docx a parte, ya que he corregido un poco la sintaxis y he aplicado formatos especiales de letra para las clases, los objetos, las funciones y el vector movimiento, para que sean mas visibles en el texto y facilitar la comprensión.

**Javier**, en los problemas

[2019-05-18 09:50] #11 closed, assigned to KinGJV

[2019-05-18 09:50] #30 closed, assigned to KinGJV

[2019-05-18 11:15] ecoronado96 commented on #34
Voy a redactar esto según me encuentre los errores o elementos que vea que hay que modificar, modificaría el documento pero por lo que comentas lo debes de estar editando y no quiero que cause problemas.

- En cuanto a los controles el movimiento además de por `WASD` es por las `flechas del teclado` y el inventario es la letra `E` no la `I`.

- La exploración de la mazmorra que detallas de esta fo

[2019-05-18 11:28] Javier-DlaP commented on #34
Ya puse los soluciones a **todos** los problemas encontrados

[2019-05-18 14:14] Pepooliet commented on #34
Corregiré la el documento y memoria del juego aplicando lo que me habéis dicho.
Por supuesto, entre los puntos que tengo que añadir se encuentran los de testeo, diseño gráfico y trabajo en equipo.
Este último punto, como bien dices, es esencial, y trataré de reflejar **de manera profesional** los distintos problemas que han surgido.
En cuanto al diagrama de clases, adjuntaré las capturas que me ha

[2019-05-18 16:23] KinGJV commented on #34
### **Herramientas empleadas**

•	**Netbeans**: para las pruebas de testeo pertinentes.
•	**Github:** para llevar un claro control de versiones.
•	**TiledMap editor**: para realizar los mapas finales y las correcciones a los mapas existentes.
•	https://www.imageenlarger.com/es.html : para redimensionar las texturas y crear nuevos mapas.
•	https://donjon.bin.sh/5e/dungeon/ : para la creación de lay

[2019-05-20 15:37] Pepooliet commented on #34
He terminado la memoria.
He incluido los puntos que faltaban en **problemas encontrados** y en **herramientas utilizadas**, el índice referenciado y el diagrama UML.

[2019-05-20 16:07] #34 closed, assigned to KinGJV, ecoronado96, MarinaFer, Javier-DlaP, Pepooliet

[2019-05-20 16:09] #1 closed, assigned to KinGJV, ecoronado96, MarinaFer, Javier-DlaP, Pepooliet